body {
  margin: 0;
}

.uiview {
  position: relative;
}

.header {
  display: inline-block;
  width: 100%;
  height: 6vh;
  margin-top: 10px;
}

.header p {
  margin: 0;
}

.map {
  width: 100%;
  height: 80vh;
}

.happyplacebuttons {
  margin: 5px 0;
  text-align: center;
}

.happyplacepopup {
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: green;
  opacity: 0.6;
}

.makehappyplace {
  text-align: center;
  background-color: white;
  opacity: 1.0;
  border: 5px solid black;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 45px;
}

.error {
  margin: 0;
  color: red;
}

.closebutton {
  margin: 15px 10px 0 0;
  float: right;
}

.footer {
  width: 100%;
  height: 6vh;
  margin-top: 10px;
  text-align: center;
}
